body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
ul {
    margin: 0;
    padding-left: 2em;
}
#hgroup {
    display: flex;
    flex: 1;
    min-height: 0; /* needed to prevent expanding to content */
    contain: size;
}
#statusbar {
    padding: 0.5em;
    height: 1em;
    box-sizing: content-box;
    background: linear-gradient(#eee,#ddd);
    border-top: 1px solid #999;
}
#socketIO {
    flex: 1 30em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #ccc;
    height: 100%;
    contain: size;
}
#socketI {
    padding: 0.5em;
    background: linear-gradient(#f9f9f9,#eee);
    border-bottom: 1px solid #ccc;
}
#socketOGroup {
    flex: 1;
    display: flex;
    height: 100%;
    min-height: 0; /* needed to prevent expanding to content */
    contain: size;
}
#socketOGroup > * {
    flex: 1;
    font-family: monospace;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0.5em;
    height: 100%;
    box-sizing: border-box;
    contain: size;
}
pre { margin: 0; }
#socketO .active { background-color: #ccc; }
#socketO .lbinfo, #socketO .eventMessage { cursor: default; }
.extrainfo { padding-left: 1em; }
.deleted { text-decoration-line: line-through; }
#graphics {
    flex: 200px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}
#graphicsctrl {
    text-align: center;
}
#graphicsctrl > div {
    display: inline-block;
    margin: 0.5em;
}
.zoomctrl button {
    all: inherit;
    display: inline-block;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    background-color: navy;
    color: white;
    border-radius: 50%;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    box-sizing: content-box;
    cursor: default;
    user-select: none;
}
.zoomctrl button:hover {
    background-color: blue;
}
.zoomctrl button:active:hover {
    background-color: orange;
}
.zoomctrl button:disabled {
    background-color: grey;
}
.zoomctrl button:focus {
    outline: 2px solid white;
    outline-offset: -3px;
}
.zoomctrl input {
    border: 1px solid black;
    border-radius: 0.75em;
    padding: 0.25em;
    height: 1em;
    box-sizing: content-box;
    text-align: center;
}
/*#exportAnchor { display: none; }*/
svg {
    display: block;
    min-height: 200px;
}
svg * {
    pointer-events: none;
}
svg .hitarea {
    pointer-events: visibleFill;
    fill: none;
}
svg .hot > text { fill: red; }
svg polyline.hot, svg polygon.hot { stroke-width: 2px; }
.error { color: red; }
.raw {
    display: none;
    color: grey;
}
.showraw .raw { display: block; }
#socketO .sweep {
    display: none;
}
#socketO.showsweep .sweep { display: block; }
polyline, polygon {
    stroke: black;
    vector-effect: non-scaling-stroke;
}
.vlabel {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: monospace;
    font-size: 12px;
    display: none;
}
.showvlabel .vlabel {
    display: unset;
}
svg .s_sweep { stroke: #ff9999; }
svg .s_reverse, svg .sweepline { stroke: green; }
svg .s_discard { stroke: blue; }
svg .s_tooriginal { stroke: grey; }
svg .original { stroke: purple; }
svg polyline .lbhit { stroke: orange; }
